@import "utilidades/variables.scss";
@import "utilidades/extend.scss";
@import "utilidades/mixin.scss";

.main-nosotros {
    .nosotros-titulo {
        padding: $unr;
        margin: 1rem 3rem 1rem 3rem;
        @include flex(flex, "", center, center);
        @include fuentes($fuente-helveticafuerte, 400, 3rem);
        text-transform: uppercase;
    }

    .nosotros-parrafo {
        padding: $dosr;
        margin: 1rem 3rem 1rem 3rem;
        @include flex(flex, "", center, center);
        @include fuentes($fuente-helveticafuerte, 300, 1rem);
        text-align: justify;
    }
}